:root {
  font-family: "Henny Penny", system-ui;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #413636;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column; /* Устанавливаем направление по вертикали */
  justify-content: center; /* Центрируем по вертикали */
  align-items: center; /* Центрируем по горизонтали */
  min-height: 100vh; /* Минимальная высота равна высоте экрана */
  text-align: center; /* Выравнивание текста по центру */
  background-image: url('C:/Users/User/todo-app3/src/assets\1710395208_oir-mobi-0x3x-p-esteticheskii-fon-1.jpg'); /* Путь к вашему изображению */
  background-size: cover; /* Заполнение всего фона */
  background-position: center; /* Центрирование изображения */
}

.main {
  color: #ffffff;
}

.input{
  font-size: 15px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.searchad{
  margin-bottom: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 10px;
  font-weight: 500;
  font-family: inherit;
  background-color: #d32a2a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button_godnd{
  color: #1f1f1f;
  margin: 50px;
  font-size: 25px;
}

.button_gotodo{
  color: #ffbc70;
  padding: 50px;
  font-size: 25px;
}

.button_gotodo:hover{
  color: #000000;
}

.button_godnd:hover{
  color: #000000;
}

.button_sort{
  background-color: #bf97ff;;
  color: #49328a;
  font-size: 17px;
  margin-bottom: 20px;
}

.button_sort:hover {
  background-color: #966fff; /* Темнее при наведении */
}

.delete-button {
  background-color: #ff4c4c; /* Красный фон для кнопки удаления */
}

.delete-button:hover {
  background-color: #e10400; /* Темнее при наведении */
}

.button_add{
  margin-left: 5px;
  background-color: #79a87b;
  font-size: 15px;
}

.button_add:hover{
  background-color: #47a64b;
}


@media (prefers-color-scheme: light) {
  :root {
      color: #213547;
      background-color: #ffffff;
  }
  a:hover {
      color: #747bff;
  }
  button {
      background-color: #f9f9f9;
  }
  /* styles.css */
.button {
  background-color: #4CAF50; /* Зеленый фон */
  color: white; /* Белый текст */
  padding: 10px 20px; /* Отступы */
  border: none; /* Без рамки */
  border-radius: 5px; /* Закругленные углы */
  cursor: pointer; /* Указатель при наведении */
  transition: background-color 0.3s; /* Плавный переход цвета */
}
}

 .input {
  width: calc(100% - 110px); 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 5px;
  display: inline-block;
 }