:root {
  font-family: "Henny Penny", system-ui;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('C:\Users\User\todo-app\src\assets\1710395208_oir-mobi-0x3x-p-esteticheskii-fon-1.jpg'); /* Путь к вашему изображению */
  background-size: cover; /* Заполнение всего фона */
  background-position: center; /* Центрирование изображения */
}

@keyframes fadeInScale {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 20px;
  animation: fadeInScale 0.5s ease-in-out; /* Применяем анимацию */
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 0.6em;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
  font-size: 1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white; /* Цвет текста кнопки */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #333; /* Цвет фона для задач */
  border: 1px solid #444; /* Цвет границы */
  border-radius: 8px;
  margin-bottom: 10px;
}

.todo-item span {
  flex-grow: 1;
  margin-left: 10px;
  color: white; /* Цвет текста задач */
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  margin: 0 5px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}